/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root{
    --section-color: #e6e6e6;
}

body {
    background-color: white;
    margin: 0;
}
a {
    color: #0060de;
}
.externalLink {
    color: black;
    text-decoration: none;
}
.externalLink:hover {
    text-decoration: underline;
}

#header {
    font-size: 3vh;
    text-align: center;
}

#footer {
    font-size: 3vh;
    text-align: center;
    padding: 1vh 0 1vh 0;
    background-color: var(--section-color);
    border-radius: 0;
}
#footerFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

hr {
    width: 85%;
    color: #34a4eb;
    background-color: #34a4eb;
    height: 0.2vh;
}

.returnToTop {
    width: calc(100% - 2vw);
    margin-right: auto;
    text-align: right;
    font-size: 3vh;
}

.Photo {
    position: absolute;
    height: 30vh;
    width: 30vh;
    overflow: hidden;
    border-radius: 50%;
    border: 1vh solid #abfeff;
    top: 20%;
    left: 8%;

    
}

#headshot {
    position: relative;
    height: 150%;
    width: 120%;
    top: -1%;
    left: 1%;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

#qualifications {
    width: 100%;
    margin: 10vh 0 0 0;
    text-align: center;
}
#qualifications ul{
    position: relative;
    left: -3vh;
    font-size: 3vh;
    list-style-type: none;
}

.appointment {
    margin: 5vh auto 0 auto;
    width: 25vw;
    height: 7vh;
}
.appointmentButton {
    width: 100%;
    height: 100%;
    background-color: #abfeff;
    border-radius: 4vh;
    border: 0.5vh solid #ababab;
    font-size: 3vh;
    color: black;
}
.appointmentButton:hover {
    background-color: #e6fffe;
}

.canvas {
    width: 100%;
    background-color: var(--section-color);
    text-align: center;
    margin-top: 15vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-radius: 2vh;
    

}

#bio {
    
    text-align: center;
    width: 80%;
    font-size: 3vh;
    margin: auto;
    
}


@media (max-width: 1024px) {

    #footerFlex {
        flex-direction: column;
    }

    #qualifications {
        margin-top: calc(50vw + 10vh);
    }
    #qualifications ul {
        font-size: 4vw;
    }
    .appointment {
        width: 70vw;
        height: 8vh;
        margin-top: 0;
        
    }
    .Photo {
        width: 50vw;
        height: 50vw;
        left: 24vw;
        top: 15vh;
    }



}