/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root{
    --emblemColor: #58bfd6;
}

#telehealth {
    width: 100%;
    margin-top: 10vh;
}

#telehealthEmblem {
    position: absolute;
    left: 7%;
    top: calc((15vh - 15vw) / 2);
    
    width: 15vw;
    height: 15vw;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;


}

#innerCircle {
    background-color: var(--emblemColor);
    position: absolute;
    width: 85%;
    height: 85%;
    top: 7.5%;
    left: 7.5%;
    border-radius: 50%;
    overflow: hidden;
}

#box {
    position: absolute;
    background-color: #7a7a7a;/*rgb(171, 226, 255);*/
    width: 60%;
    height: 50%;
    top: 25%;
    left: 28%;
    border-radius: 5%;

}

#lens {
    position: absolute;
    background-color: #7a7a7a;/*rgb(171, 226, 255);*/
    height: 35%;
    width: 35%;
    top: 32%;
    left: -4%;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    border-radius: 5%;

}

#lensneg {
    position: absolute;
    background-color: var(--emblemColor);
    height: 50%;
    width: 17%;
    top: 25%;
    left: -4%;

}

#Banner {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--emblemColor);
    width: 95%;
    height: 15vh;
    border-radius: 2vh;
    text-align: right;
    vertical-align: middle;
    
}

#BannerText {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    font-size: 8vh;
    top: 50%;
    right: 5vw;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}



@media (max-width: 1024px) {
    #telehealthEmblem {
        top: calc((15vh - 35vw) / 2);
        left: 6%;
        width: 35vw;
        height: 35vw;
    }

    #BannerText {
        font-size: 5vw;
        max-width: 50%;
    }
}

@media (min-width: 600px) {
    #telehealthEmblem {
        top: calc((15vh - 25vw) / 2);
        left: 6%;
        width: 25vw;
        height: 25vw;
    }
    #BannerText {
        font-size: 4vw;
    }


}

@media (min-width: 900px) {
    #telehealthEmblem {
        top: calc((15vh - 15vw) / 2);
        left: 6%;
        width: 15vw;
        height: 15vw;
    }
}
